*{
    margin: 0;
    padding: 0;
}
.logo {
    text-align: center;
    margin-top: 45px;
}

.logo p {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
}

.goprop audio{
    margin-left: 614px;
}


.iop {
    background: #000;
}

.iop:hover{
    background: red;
}

.iop:active{
    background: rgb(1, 45, 243);
}


.yuiii {
    background-blend-mode: multiply;
    background-color: rgba(0, 136, 255, 0.651);

}
.yuii {
    padding-top: 65px;
    margin-left: 5%;
}

.op p{
    margin-left: 878px;
    margin-top: -277px;
    padding-bottom: 22%;
    font-size: 34px;
    font-weight: 800;
}


.op p:hover{
    color: red;
}